body {
  text-align: center;
  background: url("file:///Users/claire/Desktop/clairedvial.github.io/unit_3/images/PV-4-7F.jpg");
  background-size: cover; 
  color: #fff;
  font-family: "Existence Light"; 
}
h1 {
     font-family: "Existence Light", sans-serif;
}
p { font-family: "Existence Light", sans-serif;
    color: (0,0,0);
  font-size: 22px;
  
}
ul
li
img
#slogan 